* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root {
    --measure: 60ch;
    --ratio: 1.5;
    --s0: 1rem;
    --s1: calc(var(--s0)*var(--ratio));
    --s2: calc(var(--s1)*var(--ratio));
    --s3: calc(var(--s2)*var(--ratio));
    --s4: calc(var(--s3)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --color-white: #fff;
    --color-grey: #ccc;

}
$bp-sm: 800px;
$bp-md : 1200px;

body {
    
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    background: hsl(217, 28%, 15%);
    font-size: 14px;
    @media screen and (min-width: $bp-sm) {
        font-size: 110%;
    }
}