.footer {
    padding: 2rem;
    margin: 0 auto;
    max-width: calc(var(--measure)*2);
    @media screen and (min-width: $bp-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: var(--color-white);
    }
    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        max-width: var(--measure);
    }
    &__logo {
        margin-right: 1rem;
        &--main {
            margin-bottom: 2rem;
        }
    }
    &__nav {
        &__list {
            margin: 3rem 0;
            &__item {
                margin-bottom: 0.5rem;
                list-style-type: none;
            }
        }
    }
}