.foot {
    background-color: hsl(216, 53%, 9%);
    margin-top: -2rem;
}

.footer {
    padding: 5rem 0 3rem;
    margin: 0 auto;
    color: var(--color-grey);
    max-width: calc(var(--measure)*2);
    
    @media screen and (min-width: $bp-md) {
        display: grid;
        grid-template-columns: 1fr 30%;
        justify-content: space-between;
    }

    a {
                
        text-decoration: none;
        color: var(--color-grey);
    
    }
    
    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        max-width: var(--measure);
    }
    &__logo {
        margin-right: 1rem;
        &--main {
            margin-bottom: 2rem;
        }
    }
    &__nav {
        &__list {
            margin: 3rem 5rem 0 3rem;
            &__item {
                margin-bottom: 0.5rem;
                list-style-type: none;
            }
            
        }
    }
}