.header {
    margin: 0 auto;
    max-width: calc(var(--measure) * 2);
    padding: 1rem;
    background-color: hsl(217, 28%, 15%);
    &__nav {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        &__logo {
            width: 4rem;
            @media screen and (min-width: $bp-md) {
                width: 10rem;
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &--item {
                margin-left: 2rem;
                list-style-type: none;

            }
            &--action {
                text-decoration: none;
                color: var(--color-grey);
            }
        }
    }
}