.header {
    &__nav {
        margin: 1rem;
        &__logo {
            width: 4rem;
            margin-right: auto;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &--item {
                margin-left: 2rem;
                list-style-type: none;

            }
            &--action {
                text-decoration: none;
                color: var(--color-white);
            }
        }
    }
}