.main {
    .home {
        margin: 0rem auto 5rem;
        padding: 2rem;
        max-width: var(--measure);
        background-color: hsl(217, 28%, 15%);
        &__img {
            &__div {
                width: 80%;
                margin: 0 auto 2rem;
                @media screen and (min-width: $bp-md) {
                    width: 100%;
                }
                
            }
            width: 100%;
            display: block;
            
        }

        &__heading {
            font-size: var(--s1);
            text-align: center;
            font-family: 'Raleway',sans-serif;
            margin-bottom: 1.5rem;
        }
        &__para {
            text-align: center;
            color: var(--color-grey);
        }
        &__cta {
            margin: 2rem auto 0;
            display: block;
            width: 17.5rem;
            padding: 1rem;
            text-decoration: none;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            color: var(--color-white);
            font-weight: 700;
            border-radius: 2rem;
            background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        }
    }

}