* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --measure: 60ch;
  --ratio: 1.5;
  --s0: 1rem;
  --s1: calc(var(--s0)*var(--ratio));
  --s2: calc(var(--s1)*var(--ratio));
  --s3: calc(var(--s2)*var(--ratio));
  --s4: calc(var(--s3)*var(--ratio));
  --s5: calc(var(--s4)*var(--ratio));
  --color-white: #fff;
  --color-grey: #ccc;
}

body {
  color: var(--color-white);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  background: #1c2431;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 110%;
  }
}

.header {
  margin: 0 auto;
  max-width: calc(var(--measure) * 2);
  padding: 1rem;
  background-color: #1c2431;
}

.header__nav {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__logo {
  width: 4rem;
}

@media screen and (min-width: 1200px) {
  .header__nav__logo {
    width: 10rem;
  }
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__list--item {
  margin-left: 2rem;
  list-style-type: none;
}

.header__nav__list--action {
  text-decoration: none;
  color: var(--color-grey);
}

.main .home {
  margin: 0rem auto 5rem;
  padding: 2rem;
  max-width: var(--measure);
  background-color: #1c2431;
}

.main .home__img {
  width: 100%;
  display: block;
}

.main .home__img__div {
  width: 80%;
  margin: 0 auto 2rem;
}

@media screen and (min-width: 1200px) {
  .main .home__img__div {
    width: 100%;
  }
}

.main .home__heading {
  font-size: var(--s1);
  text-align: center;
  font-family: 'Raleway',sans-serif;
  margin-bottom: 1.5rem;
}

.main .home__para {
  text-align: center;
  color: var(--color-grey);
}

.main .home__cta {
  margin: 2rem auto 0;
  display: block;
  width: 17.5rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: var(--color-white);
  font-weight: 700;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
}

.secondary {
  padding: 2rem;
  margin: 0 auto 5rem;
}

@media screen and (min-width: 1200px) {
  .secondary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: calc(var(--measure)*2);
  }
}

.secondary__sub {
  width: 20rem;
  margin: 0 auto 5rem;
  text-align: center;
}

.secondary__sub .icon {
  height: 5.5rem;
}

.secondary__sub__heading {
  font-size: calc(var(--s1) - .3rem);
  margin-bottom: .5rem;
}

.secondary__sub__para {
  color: var(--color-grey);
}

.tertiary {
  padding: 2rem;
  margin: 0 auto 5rem;
  max-width: var(--measure);
  background: #181f2a;
  border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
  .tertiary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: calc(var(--measure) * 3);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-radius: 0;
  }
}

.tertiary__heading {
  font-size: var(--s1);
  margin-bottom: 1rem;
}

.tertiary__img {
  width: 100%;
  display: block;
}

.tertiary__img__div {
  width: 80%;
  margin: 0 auto 2rem;
}

.tertiary__para {
  margin-bottom: 1rem;
  max-width: var(--measure);
  color: var(--color-grey);
}

.tertiary__cta:link, .tertiary__cta:visited {
  color: #339ecc;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.tertiary__cta:link::after, .tertiary__cta:visited::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #339ecc;
  left: 0;
  top: 100%;
  width: 100%;
}

.tertiary__cta:hover, .tertiary__cta:active {
  color: #ae57ff;
  position: relative;
  text-decoration: none;
  font-weight: 700;
}

.tertiary__cta:hover::after, .tertiary__cta:active::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ae57ff;
  left: 0;
  top: 100%;
  width: 100%;
}

.quaternary {
  padding: 1rem;
  margin: 0 auto 5rem;
}

@media screen and (min-width: 1200px) {
  .quaternary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: calc(var(--measure)*2.5);
  }
}

.quaternary__card {
  background: #202a3c;
  border-radius: .5rem;
  margin: 0rem auto 2rem;
  padding: 1rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  line-height: var(--s1);
  color: var(--color-grey);
}

.quaternary__card__flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.25;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.quaternary__card__para {
  margin-bottom: 1rem;
}

.quaternary__card__pic {
  margin-right: 1rem;
}

.quaternary__card__pic img {
  border-radius: 50%;
  width: 3rem;
}

.quaternary__card__name {
  font-size: .8rem;
  font-weight: 700;
  color: var(--color-white);
}

.quaternary__card__title {
  margin-top: .6rem;
  font-size: .7rem;
}

.quinary {
  padding: 1rem;
  margin: 0 0 5rem;
}

.quinary__card {
  border-radius: .5rem;
  background-color: #202a3c;
  padding: 2rem;
  margin: 0 auto;
  max-width: calc(var(--measure) *1.25);
}

.quinary__heading {
  text-align: center;
  margin-bottom: 1rem;
}

.quinary__para {
  text-align: center;
  margin-bottom: 2.5rem;
  color: var(--color-grey);
}

.quinary__email {
  display: block;
  margin: 0 auto 1.5rem;
  width: 17.5rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.quinary__cta {
  margin: 0 auto;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  width: 17.5rem;
  display: block;
  padding: 1rem;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
}

.foot {
  background-color: #0b1523;
  margin-top: -2rem;
}

.footer {
  padding: 5rem 0 3rem;
  margin: 0 auto;
  color: var(--color-grey);
  max-width: calc(var(--measure)*2);
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30%;
        grid-template-columns: 1fr 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer a {
  text-decoration: none;
  color: var(--color-grey);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
  max-width: var(--measure);
}

.footer__logo {
  margin-right: 1rem;
}

.footer__logo--main {
  margin-bottom: 2rem;
}

.footer__nav__list {
  margin: 3rem 5rem 0 3rem;
}

.footer__nav__list__item {
  margin-bottom: 0.5rem;
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */